<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Product List</title>
</head>
<body>
  <h1>Product List</h1>
  <ul>
    <% products.forEach(product => { %>
      <div class="d-flex justify-content-center container mt-5">
        <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
            <div class="about-product text-center mt-2">
              <img src="<%= product.image %>" width="300">
                <div>
                    <h4><%= product.name %></h4>
                    <!-- <h6 class="mt-0 text-black-50"><%= product.name %></h6> -->
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between p-price"><span>Brand</span><span><%= product.brand.name %></span></div>
                <div class="d-flex justify-content-between p-price"><span>Subcategory</span><span><%= product.subcategory.name %></span></div>
                <div class="d-flex justify-content-between p-price"><span>Category</span><span><%= product.category.name %></span></div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Price</span><span>$<%= product.price %></span></div>
        </div>
    </div>
      <!-- <li><%= product.name %> - <%= product.category.name %> - <%= product.subcategory.name %> - <%= product.brand.name %> - $<%= product.price %></li> -->
    <% }) %>
  </ul>
  <a href="/">Back to Home</a>
</body>
</html>
